@{
    ViewData["Title"] = "Home Page";
}

@model VAII.Models.DTO.GamesPlusTagsViewModel

@section SearchBar {
    <form id="myForm" class="d-flex w-50 positionFix" asp-action="Index" method="get" enctype="multipart/form-data">
        <input name="search" class="form-control" type="search" placeholder="Search" aria-label="Search" value="@Model.Search">
        <button type="submit" class="btn btn-dark ms-2">Search</button>
        @foreach (var tag in Model.SelectedTags)
        {
            <input type="hidden" name="SelectedTags[@Model.SelectedTags.IndexOf(tag)]" value="@tag" />
        }
    </form>
}

<div class="row">
    <div class="col-12 col-md-4 col-lg-3 secondaryBackground">
        <div class="row d-flex justify-content-start gap-1 gy-3 p-3" id="selectedTagsContainer">
            <div class="col">TAGS</div>
            <div class="col-12 d-flex">
                <select class="col-6 form-control w-75" id="selectTag">
                    @foreach (var tag in Model.Tags)
                    {
                        <option>@tag.TagName</option>
                    }
                </select>
                <button id="addTagFilter" class="col-3 btn btn-dark ms-2 w-25">Add</button>
                <label for="selectTag"></label>
            </div>

            @foreach (var tag in Model.SelectedTags)
            {
                <div class="col-auto">
                    <button class="tag">@tag</button>
                </div>
            }
        </div>
    </div>
    <div class="col-12 col-md-8 col-lg-9 primaryBackground">
        @await Html.PartialAsync("_GamesList", Model)        
    </div>
</div>

@section Scripts {
    <script src="~/js/filterTag.js"></script>
}