@{
    //vygenerovane VS a mnou menene
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout) && parentLayout !=  null)
    {
        Layout = parentLayout.ToString();
    }
    else
    {
        Layout = "/Views/Shared/_MainLayout.cshtml";
    }
}

<div>    
    <div class="row">
        <div class="col-md-3 secondaryBackground">
            <h1 class="text-white">Manage your account</h1>
            <h2 class="text-white">Change your account settings</h2>
            <hr />
            <partial name="_ManageNav" />
        </div>
        <div class="col-md-9 primaryBackground">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
